[submodule "extlibs/glfw"]
	path = extlibs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extlibs/glm"]
	path = extlibs/glm
	url = https://github.com/g-truc/glm.git
[submodule "extlibs/libretro-common"]
	path = extlibs/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "extlibs/libsoundio"]
	path = extlibs/libsoundio
	url = https://github.com/andrewrk/libsoundio.git
